@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Oswald');

/*Colors
	#16642F;
	#3EC28F;
	#FD6900;
	#ff0;
	#f5f5f5;
*/


body, header, main, section, article, footer, .container, a.navLink, button#btnMobileToggle, nav, div.navigation, a#logoLink, div.core-value, div.fields, form, div.contact.field, a.social-link, .social-media, .cassavaApp-accordions, .cassavaApp-accordion {
	display: flex;
	flex-wrap: wrap;
}

body, header, main, footer, article, .container, .navContainer, a.navLink, div.navigation, img.pageImage, p.cassavaApp-motto, a.cassavaApp-page-link.center-text, p.core-value-name, p.core-value-text, p.service-title, p.service-text, p.product-title, p.product-text, a.product-link, div.fields, form, label, div.fields input, div.fields textarea, div.contact.field, #googleMapAddress, p.article.text, .cassavaApp-accordions, .cassavaApp-accordion, .panel {
	width: 100%;
	max-width: 100%;
}


body, p, p.core-value-name, p.core-value-text, p.service-text, p.product-text{
    margin: 0px;
}

body{
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-style: normal;
	line-height: 1.5em;
}

header{
	padding: 10px;
	z-index: 1;
}

header{
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

section{
	width: calc(100% - 30px);
	padding: 0px 10px;
	margin: auto;
}

#btnMobileToggle, .navImage{
	width: 25px;
	height: 25px;
}

a.navLink, .btn, a#logoLink, footer p a,footer ul#footer-products li a {
  	text-decoration: none;
}

a#logoLink {
    width: 100%;
/*    color: #000;
*/}

a.cassavaApp-page-link.center-text{
	color: #fff;
}

button#btnMobileToggle{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    background-color: transparent;
    border: 0px;
    padding: 0px;
}

i.fa.fa-bars {
    color: #FD6900;
}

i.fas {
    color: #fff;
}

.fa, .fas{
	font-size: 1.5em;
	width: 1.5em;
}

i.core-value {
    padding: 0;
    font-size: 5em;
    color: #3EC28F;
}

i.core-value{
    margin: auto;
}

i.fas::before, i.far::before {
    margin: 8%;
}

i.contact-detail {
    color: #16642F;
    margin: auto 5px;
    font-size: 1em;
}

h1, h2, h3, p.core-value-name, p.service-title,p.product-title{
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

h1, h2, h3{
	color: #FD6900;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

h1, h2, h3, p.core-value-name, p.core-value-text, .center-text, .btn, p.cassavaApp-motto, p.service-title, p.service-text, p.product-title, p.product-text, a.product-link{
    text-align: center;
}

h2, h3, p.cassavaApp-motto{
	text-transform: capitalize;
}

h1{
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 15px auto;
}

h2{
	font-size: 1.2em
}

h3, p.core-value-name, p.service-title,p.product-title{
	font-size: 1.1em
}

h2.cassavaApp-name {
    text-transform: uppercase;
    color: #fff;
}

h2.cassavaApp-name, p.cassavaApp-motto, label, div.fields input, div.fields textarea{
	margin: 5px auto;
}

.btn{
	width: 250px;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: #16642F;
}

button.btn{
	border: 0;
	border-radius: 20px;
}

button.btn:hover{
	transition: 0.5s;
	background-color: #FD6900;
}

input, textarea#your-message{
	font-size: 1.2em;
	padding: 5px;
    border: 0.3px solid black;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

form{
	margin: auto;
}

label, div.fields, div.fields input, div.fields textarea {
    margin: 5px auto;
}

a.contact-email, a.contact-tel{
	color: #000;
    font-size: 1em;
}

article.cassavaApp-section{
	padding: 10px;
	background-color: #3EC28F;
}

img.cassavaApp-image {
    width: 150px;
    height: 150px;
    margin: 5px auto;
}

p.cassavaApp-motto{
	color: #ff0;
}

p.core-value-name, p.service-title,p.product-title {
    color: #16642F;
}

footer p, footer p a, footer ul#footer-products li, footer ul#footer-products li a{
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    color: #fff;
}

footer p strong{
	color: #000;
}

footer{
	margin-top: 30px;
	background-color: #3EC28F;
	border-top: 0.75px solid #000;
}

footer div.footerArea{
	width: 100%;
	margin: 15px auto;
	padding: 10px;
}

.overlay{
	max-height: 100vh;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 100px;
	right: 0;
	background: rgba(255, 255, 255, 0.75);
	transition: 0.4s;
	overflow-y: auto;
}

[aria-hidden = "true"]{
	visibility: hidden;
}

[aria-hidden = "false"]{
	visibility: visible;
}

nav{
    width: 250px;
    background: #3EC28F;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    right: 0;
    position: relative;
}

nav ul, footer ul#footer-products{
    list-style: none;
    padding: 0;
}

footer ul#footer-products{
	margin: 0px;
}

a.navLink{
  	padding: 10px;
}

p.service-title,p.product-title {
	margin: 10px auto;
}

a.product-link{
	color: #16642F;
	/*display: none;*/
}

p.navItem {
    margin: auto 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}

div.product, div.service, div.core-value{
    width: 250px;
}

div.core-value{
	margin: 15px auto;
}

div.product, div.service{
    margin: 10px auto;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    display: grid;
	grid-template-rows: 170px 50px auto;
	border-top: 4px solid rgba(22, 100, 47,0.5);
}

div.contact.field {
    margin: 5px;
}

img.service-image, img.product-image {
    width: 150px;
    height: 150px;
    margin: auto;
}

.noScroll{
	overflow: hidden;
}

iframe.cassavaApp-videos {
    margin: 10px auto;
}

.container.social-media {
    width: 300px;
    margin: auto;
}

.social-media {
    margin: auto;
}

a.social-link {
    margin: 5px auto;
}

i.social-media-icon:hover {
    transition: 0.3s;
    color: #FD6900;
}

i.social-media-icon {
    font-size: 3em;
    color: #3EC28F;
}

.cassavaApp-accordions {
    margin: 10px auto;
}

.cassavaApp-accordion {
    margin-top: 5px;
}

button.cassavaApp-accordion {
    padding: 10px 5px;
    border: 0px;
    background: #3EC28F;
    color: #fff;
}

button.cassavaApp-accordion.selected{
	background: #FD6900;
}

button.cassavaApp-accordion:hover{
	background: #16642F;
}

.panel {
    padding: 10px;
    background: #f5f5f5;
    display: none;
}

@media screen and (max-height: 450px) {
	nav{
		height: 100%;
	}
}

@media screen and (min-width: 1024px) {
	nav{
		height: auto;
	}

	body{
		overflow-y: scroll;
	}

	nav ul, .overlay{
		display: flex;
		flex-wrap: wrap;
	}
	
	section{
		width: 900px;
		max-width: 90%;
		margin: auto;
	}

	.overlay{
		position: inherit;
	}

	button#btnMobileToggle{display: none;}

	nav, .overlay{
		width: 100%;
		padding: 0;
		background: #fff;
	}

	nav ul{
		margin: auto;
	}

	.navImage, i.navImage{
		display: none;
	}

	p.navItem{
		color: #FD6900;
	}

	a.navLink p.navItem:hover{
		color: #16642F;
	}

	header div.container{
		width: 100px;
	}

	header div.navContainer{
		width: calc(100% - 100px);
	}

	header{
		padding: 5px;
	}

	div.navigation{
		width: 1024px;
		margin: auto;
	}

	article#contact-form, article#contact-details, .container.col-2{
	    width: 45%;
	    margin: 5px auto;
	}

	.cassavaApp-accordions {
	    width: 700px;
	}

	footer div.footerArea{
		width: 30%;
	}

	li.viaphone-product-feature {
	    color: #232323;
	    font-family: 'Lato', sans-serif;
	}

	li.viaphone-product-feature::before {
	    content: '◈';
	    color: #FD6900;
	    margin-left: -1em;
	    display: inline-block;
	}

	a.viaphone-product-link {
	    width: 100%;
	    /* height: auto; */
	    margin: auto;
	    font-size: 1.1rem;
	    font-family: 'Lato';
	    text-decoration: none;
	    color: #fff;
	    /* border-top: 2px solid; */
	    /* height: 21px; */
	    line-height: normal;
	    text-align: center;
	}

	a.viaphone-product-link:hover {
	    color: #000;
	    background: rgba(255,255,255,0.5);
	    padding: 10px;
	    transition: 0.7s;
	}

	ul#viaphone-product-features {
	    background: rgba(255,255,255,0.5);
	    padding-right: 5px;
	    padding-top: 5px;
	    width: 100%;
	    padding-bottom: 5px;
	    padding: 10px 20px;
	    border-left: 8px solid #16642F;
	    list-style-type: none;
	}
}